<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/main.css">
</head>
<body>
	<header>
		<div class="group-name" id="group-name"></div>
		<button id="addbtn" style="display: none;">Add User</button>
		<button id="removebtn" style="display: none;">Remove User</button>
		<button id="gobackbtn">
			<svg version="1.1" id="ios7_x5F_arrows_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve"><style>.st0{display:none}.st1{display:inline}</style><g id="_x32_8_1_"><path d="M78.1 0v6.2c22.4 0 40.5 18.2 40.5 40.6s-18.1 40.6-40.5 40.6H17.9l27.9-28-4.5-4.5L5.5 90.8l36 36.2 4.5-4.5-28.8-28.9h60.9c25.8 0 46.7-21 46.7-46.8S103.9 0 78.1 0z" id="icon_13_"/></g></svg>
			<span>Go Back</span>
		  </button>
	</header>
	<div id="adminSection">
	<div class="section" id="addUser" style="display: none;">
		<h3>Add user in group</h3>
		<form onsubmit="addToGroup(event)">
		  <div class="form-group">
			<label for="userId">Enter User Id:</label>
			<input type="text" name="userId" id="userId" required/>
		  </div>
		  <div class="form-group">
			<label>Access Type:</label>
			<label for="isAdmin">Admin</label>
			<input type="radio" name="isAdmin" id="isAdmin" value="true" />
			<label for="isAdmin">Normal User</label>
			<input type="radio" name="isAdmin" id="isAdmin" value="false" checked />
		  </div>
		  <button id="adu">Add User</button>
		</form>
	  </div>
	  
	  <div class="section" id="removeUser" style="display: none;">
		<h3>Remove user from group</h3>
		<form onsubmit="removeFromGroup(event)">
		  <div class="form-group">
			<label for="rmuser">Enter User Id:</label>
			<input type="text" name="rmuser" id="rmuser" required/>
		  </div>
		  <button id="rmu">Remove User</button>
		</form>
	  </div>
	</div>
  
	<div class="chat-container" id="chat-container">
		<!-- <div class="chat-message other">
			<p class="message-text">Hi</p>
			<p class="message-time"></p>
		</div>
		<div class="chat-message me">
			<p class="message-text">Hello</p>
			<p class="message-time"></p>
		</div> -->

		<div id="chat-message">
			
		</div>

		<form class="chat-form" id="chat-form" onsubmit="sendMessage(event)" enctype="multipart/form-data">
			<input type="text" placeholder="Type your message here" id="message" required>
			<input type="file" id="fileInput" accept="image/*, video/*" style="display: none;" oninput="sendMultimedia()">

			<label for="fileInput" id="fileInputLabel">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M20.475 3.137h-2.625l-1.35-1.35c-.488-.488-1.344-.487-1.83.002l-1.2 1.199H8.53l-1.2-1.199c-.487-.489-1.344-.49-1.83-.002l-1.35 1.35H3.524c-.917 0-1.663.747-1.663 1.665v16.333c0 .917.746 1.664 1.663 1.664h16.95c.918 0 1.665-.747 1.665-1.664V4.802c0-.918-.747-1.665-1.665-1.665zm-8.315 14.33c-2.81 0-5.1-2.29-5.1-5.102 0-2.812 2.29-5.102 5.1-5.102 2.813 0 5.102 2.29 5.102 5.102 0 2.812-2.29 5.102-5.102 5.102zm6.398-8.937h-1.292c-.224 0-.425-.13-.521-.336l-.215-.546a1.18 1.18 0 0 0-.797-.706l-1.017-.406c-.06-.023-.124-.036-.185-.036h-1.913c-.064 0-.13.013-.19.038l-1.012.402a1.175 1.175 0 0 0-.797.702l-.217.551a.545.545 0 0 0-.516.337h-1.296a.842.842 0 0 0-.836.845v6.294a.842.842 0 0 0 .835.845h9.254a.842.842 0 0 0 .836-.845V9.565a.842.842 0 0 0-.836-.845z"/>
				</svg>
			</label>
			
			<button>Send</button>
		</form>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="http://34.236.150.186/socket.io/socket.io.js"></script>
	<script src="chatapp.js"></script>
</body>
</html>