<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <form class="form_main" onsubmit="login(event)">
        <p class="heading">Login</p>

        <div class="inputContainer">
            <input placeholder="Email" id="email" class="inputField" type="email" required>
        </div>

        <div class="inputContainer">
            <input placeholder="Password" id="password" class="inputField" type="password" required>
        </div>
                  
               
        <button id="button">Submit</button>
        <div class="loginContainer">
            <p>Don't have any account?</p>
            <a href="../signup/signup.html">Signup</a>

            <a href="#">Forgot Password?</a>
            
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="login.js"></script>

</body>
</html>